In [29]:
import pandas as pd
from datetime import date, datetime

In [8]:
pd.__version__

'2.0.3'

In [17]:
dict = {"Nome":["Joao", "Maria", "Rita"], "nota":[20,10,14]}

df = pd.DataFrame(dict, index= ["v1", "V2", "V2"])

#df = pd.DataFrame(dict)
df

     Nome  nota
v1   Joao    20
V2  Maria    10
V2   Rita    14

In [18]:
nova_nota = {"Nome":["Rui", "Pedro"], "nota":[20,20], "nota2":[20,20]}

df2 = pd.DataFrame(nova_nota)

df2

    Nome  nota  nota2
0    Rui    20     20
1  Pedro    20     20

In [19]:
novo_df = pd.concat([df,df2])

novo_df

     Nome  nota  nota2
v1   Joao    20    NaN
V2  Maria    10    NaN
V2   Rita    14    NaN
0     Rui    20   20.0
1   Pedro    20   20.0

In [16]:
novo_df.loc[0]

   Nome  nota  nota2
0  Joao    20    NaN
0   Rui    20   20.0

In [22]:
nova_df2 = novo_df.reset_index()

In [32]:
# = ["Data1","Data1","Data1","Data1","Data1"]
#nova_df2["Data"] = "Data1"
nova_df2["Data"] = date.today()
nova_df2

  index   Nome  nota  nota2        Data
0    v1   Joao    20    NaN  2023-12-29
1    V2  Maria    10    NaN  2023-12-29
2    V2   Rita    14    NaN  2023-12-29
3     0    Rui    20   20.0  2023-12-29
4     1  Pedro    20   20.0  2023-12-29

In [34]:
out = pd.melt(nova_df2)

out.head(20)

   variable  value
0     index     v1
1     index     V2
2     index     V2
3     index      0
4     index      1
5      Nome   Joao
6      Nome  Maria
7      Nome   Rita
8      Nome    Rui
9      Nome  Pedro
10     nota     20
11     nota     10
12     nota     14
13     nota     20
14     nota     20
15    nota2    NaN
16    nota2    NaN
17    nota2    NaN
18    nota2   20.0
19    nota2   20.0

In [35]:
nova_df2

  index   Nome  nota  nota2        Data
0    v1   Joao    20    NaN  2023-12-29
1    V2  Maria    10    NaN  2023-12-29
2    V2   Rita    14    NaN  2023-12-29
3     0    Rui    20   20.0  2023-12-29
4     1  Pedro    20   20.0  2023-12-29

In [36]:
s = nova_df2.sort_values("nota")
s

  index   Nome  nota  nota2        Data
1    V2  Maria    10    NaN  2023-12-29
2    V2   Rita    14    NaN  2023-12-29
0    v1   Joao    20    NaN  2023-12-29
3     0    Rui    20   20.0  2023-12-29
4     1  Pedro    20   20.0  2023-12-29

In [37]:
s = nova_df2.sort_values("nota", ascending=False)
s

  index   Nome  nota  nota2        Data
0    v1   Joao    20    NaN  2023-12-29
3     0    Rui    20   20.0  2023-12-29
4     1  Pedro    20   20.0  2023-12-29
2    V2   Rita    14    NaN  2023-12-29
1    V2  Maria    10    NaN  2023-12-29

In [38]:
n = nova_df2.fillna(0)

n

  index   Nome  nota  nota2        Data
0    v1   Joao    20    0.0  2023-12-29
1    V2  Maria    10    0.0  2023-12-29
2    V2   Rita    14    0.0  2023-12-29
3     0    Rui    20   20.0  2023-12-29
4     1  Pedro    20   20.0  2023-12-29