In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("UID_ISO_FIPS_LookUp_Table.csv")

df

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
0,4,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.939110,67.709953,Afghanistan,38928341.0
1,8,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.153300,20.168300,Albania,2877800.0
2,10,AQ,ATA,10.0,NaN,NaN,NaN,Antarctica,-71.949900,23.347000,Antarctica,NaN
3,12,DZ,DZA,12.0,NaN,NaN,NaN,Algeria,28.033900,1.659600,Algeria,43851043.0
4,20,AD,AND,20.0,NaN,NaN,NaN,Andorra,42.506300,1.521800,Andorra,77265.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4316,84056037,US,USA,840.0,56037.0,Sweetwater,Wyoming,US,41.659439,-108.882788,"Sweetwater, Wyoming, US",42343.0
4317,84056039,US,USA,840.0,56039.0,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",23464.0
4318,84056041,US,USA,840.0,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",20226.0
4319,84056043,US,USA,840.0,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",7805.0
4320,84056045,US,USA,840.0,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",6927.0

In [5]:
df.isna().sum()

UID                 0
iso2                5
iso3                4
code3               4
FIPS              937
Admin2            978
Province_State    202
Country_Region      0
Lat               148
Long_             148
Combined_Key        0
Population        151
dtype: int64

In [6]:
df.isna().sum().sum()

2577

In [7]:
resp = df.query("Lat.isnull()")

resp

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
26,5610,BE,BEL,56.0,NaN,NaN,Unknown,Belgium,NaN,NaN,"Unknown, Belgium",NaN
63,7628,BR,BRA,76.0,NaN,NaN,Unknown,Brazil,NaN,NaN,"Unknown, Brazil",NaN
91,15217,CL,CHL,152.0,NaN,NaN,Unknown,Chile,NaN,NaN,"Unknown, Chile",NaN
126,17034,CO,COL,170.0,NaN,NaN,Unknown,Colombia,NaN,NaN,"Unknown, Colombia",NaN
139,9999,NaN,NaN,NaN,NaN,NaN,NaN,Diamond Princess,NaN,NaN,Diamond Princess,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1172,84090051,US,USA,840.0,90051.0,Unassigned,Virginia,US,NaN,NaN,"Unassigned, Virginia, US",NaN
1173,84090053,US,USA,840.0,90053.0,Unassigned,Washington,US,NaN,NaN,"Unassigned, Washington, US",NaN
1174,84090054,US,USA,840.0,90054.0,Unassigned,West Virginia,US,NaN,NaN,"Unassigned, West Virginia, US",NaN
1175,84090055,US,USA,840.0,90055.0,Unassigned,Wisconsin,US,NaN,NaN,"Unassigned, Wisconsin, US",NaN
1176,84090056,US,USA,840.0,90056.0,Unassigned,Wyoming,US,NaN,NaN,"Unassigned, Wyoming, US",NaN

In [8]:
resp = df.query("iso2.isnull()")

resp

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
139,9999,NaN,NaN,NaN,NaN,NaN,NaN,Diamond Princess,NaN,NaN,Diamond Princess,NaN
444,8888,NaN,NaN,NaN,NaN,NaN,NaN,MS Zaandam,NaN,NaN,MS Zaandam,NaN
445,516,NaN,NAM,516.0,NaN,NaN,NaN,Namibia,-22.9576,18.4904,Namibia,2540916.0
512,2020,NaN,NaN,NaN,NaN,NaN,NaN,Summer Olympics 2020,35.6491,139.7737,Summer Olympics 2020,NaN
513,2022,NaN,NaN,NaN,NaN,NaN,NaN,Winter Olympics 2022,39.9042,116.4074,Winter Olympics 2022,NaN

In [10]:
resp2 = df["iso3"]
resp2

0       AFG
1       ALB
2       ATA
3       DZA
4       AND
       ...
4316    USA
4317    USA
4318    USA
4319    USA
4320    USA
Name: iso3, Length: 4321, dtype: object

In [11]:
resp2.isna()

0       False
1       False
2       False
3       False
4       False
        ...
4316    False
4317    False
4318    False
4319    False
4320    False
Name: iso3, Length: 4321, dtype: bool

In [14]:
resp_dropna = df['iso2'].dropna(axis=0)
resp_dropna

0       AF
1       AL
2       AQ
3       DZ
4       AD
        ..
4316    US
4317    US
4318    US
4319    US
4320    US
Name: iso2, Length: 4316, dtype: object

In [18]:
resp2 = df.dropna(axis=0)
resp2.isna().sum()

UID               0
iso2              0
iso3              0
code3             0
FIPS              0
Admin2            0
Province_State    0
Country_Region    0
Lat               0
Long_             0
Combined_Key      0
Population        0
dtype: int64

df..value_counts() <- conta os valreos

202