In [24]:
import pandas as pd
from datetime import date, datetime

In [25]:
df = pd.read_csv("UID_ISO_FIPS_LookUp_Table.csv")

In [26]:
df.Province_State.isna().sum()

202

In [21]:
df.Province_State = df.Province_State.fillna("Unknown")

In [23]:
df.Province_State.value_counts()

Province_State
Texas                257
Unknown              225
Georgia              162
Virginia             136
Kentucky             123
                    ...
Michoacan              1
Morelos                1
Nayarit                1
Nuevo Leon             1
Veteran Hospitals      1
Name: count, Length: 746, dtype: int64

In [27]:
df.Province_State.isna().sum()

202

In [29]:
# df.Province_State = df.Province_State.fillna("Unknown")
df.loc[:, "Province_State"] = df.loc[:, "Province_State"].fillna("Unknown")

df.Province_State.isna().sum()

0

df.loc[30: 80, "Province_State"] <- mostra valores dos index 30 a 80 da coll "Province_State"

In [30]:
df.loc[30: 80, "Province_State"]

30                Unknown
31                Unknown
32                Unknown
33                Unknown
34                Unknown
35                Unknown
36                   Acre
37                Alagoas
38                  Amapa
39               Amazonas
40                  Bahia
41                  Ceara
42       Distrito Federal
43         Espirito Santo
44                  Goias
45               Maranhao
46            Mato Grosso
47     Mato Grosso do Sul
48           Minas Gerais
49                   Para
50                Paraiba
51                 Parana
52             Pernambuco
53                  Piaui
54         Rio de Janeiro
55    Rio Grande do Norte
56      Rio Grande do Sul
57               Rondonia
58                Roraima
59         Santa Catarina
60              Sao Paulo
61                Sergipe
62              Tocantins
63                Unknown
64                Unknown
65                Unknown
66                Unknown
67                Unknown
68                Unknown
69                Unknown
70                Unknown
71                Unknown
72                Unknown
73                Unknown
74                Unknown
75            Antofagasta
76              Araucania
77     Arica y Parinacota
78                Atacama
79                  Aysen
80                 Biobio
Name: Province_State, dtype: object

In [32]:
resp = df.query("Lat.isnull()")
index = resp.query("code3.isnull()").index


resp = resp.drop(index)

resp

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
26,5610,BE,BEL,56.0,NaN,NaN,Unknown,Belgium,NaN,NaN,"Unknown, Belgium",NaN
63,7628,BR,BRA,76.0,NaN,NaN,Unknown,Brazil,NaN,NaN,"Unknown, Brazil",NaN
91,15217,CL,CHL,152.0,NaN,NaN,Unknown,Chile,NaN,NaN,"Unknown, Chile",NaN
126,17034,CO,COL,170.0,NaN,NaN,Unknown,Colombia,NaN,NaN,"Unknown, Colombia",NaN
185,27617,DE,DEU,276.0,NaN,NaN,Unknown,Germany,NaN,NaN,"Unknown, Germany",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1172,84090051,US,USA,840.0,90051.0,Unassigned,Virginia,US,NaN,NaN,"Unassigned, Virginia, US",NaN
1173,84090053,US,USA,840.0,90053.0,Unassigned,Washington,US,NaN,NaN,"Unassigned, Washington, US",NaN
1174,84090054,US,USA,840.0,90054.0,Unassigned,West Virginia,US,NaN,NaN,"Unassigned, West Virginia, US",NaN
1175,84090055,US,USA,840.0,90055.0,Unassigned,Wisconsin,US,NaN,NaN,"Unassigned, Wisconsin, US",NaN
1176,84090056,US,USA,840.0,90056.0,Unassigned,Wyoming,US,NaN,NaN,"Unassigned, Wyoming, US",NaN