In [1]:
import pandas as pd
import sqlite3

usar este [dataset](https://www.kaggle.com/datasets/4e614ec846ab778f6a2ff166232d5a65f5e6786b4f5781690588bd2cccd71cb6)

In [11]:
data = pd.read_csv("")

In [4]:
data.__len__()

113607321

In [6]:
data.to_csv("teste.csv")

In [7]:
data2 = pd.read_csv("teste.csv")

In [8]:
data.head()

   198801  1  103  100  000000190  0  35843  34353
0  198801  1  103  100  120991000  0   1590   4154
1  198801  1  103  100  210390900  0   4500   2565
2  198801  1  103  100  220890200  0   3000    757
3  198801  1  103  100  240220000  0  26000  40668
4  198801  1  103  100  250410000  0      5   8070

In [9]:
data2.head()

   Unnamed: 0  198801  1  103  100  000000190  0  35843  34353
0           0  198801  1  103  100  120991000  0   1590   4154
1           1  198801  1  103  100  210390900  0   4500   2565
2           2  198801  1  103  100  220890200  0   3000    757
3           3  198801  1  103  100  240220000  0  26000  40668
4           4  198801  1  103  100  250410000  0      5   8070