In [1]:
import pandas as pd
from sqlite3 import connect

para SQL server ->Eventualmente -> https://docs.devart.com/odbc/sqlserver/python.htm

In [2]:
conn = connect('test2.db')
cur = conn.cursor()

# create a table
cur.execute('''CREATE TABLE IF NOT EXISTS STUDENT
(student_id INTEGER PRIMARY KEY,
student_name TEXT,
course TEXT,
marks INTEGER)
''')

In [3]:
cur.execute('''INSERT INTO STUDENT (student_id, student_name, course, marks)
VALUES (1, 'Mark', 'Python', 65),
(2, 'Alice', 'Maths', 55),
(3, 'Bob', 'Linux', 68),
(4, 'Emily', 'English', 50)
''')

conn.commit()

IntegrityError: UNIQUE constraint failed: STUDENT.student_id

In [ ]:
res = conn.execute("Select * from STUDENT")
res

In [ ]:
sql_query = pd.read_sql_query("Select * from STUDENT", conn)

df = pd.DataFrame(sql_query)

df

In [ ]:
sql_query = pd.read_sql('SELECT * FROM STUDENT', conn, index_col="student_id")

sql_query

In [ ]:
sql_query = pd.read_sql_query("Select * from STUDENT", conn)
df = pd.DataFrame(sql_query, columns=["student_name", "marks"])
df

In [ ]:
sql_query = pd.read_sql('SELECT student_name, marks FROM STUDENT', conn)

sql_query