In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [7]:
df = pd.DataFrame([[1,2,3,4,5,"foo"], 
                   [5,1,2,3,5,"boo"],
                   [1,2,3,4,"bar","bar"],
                   ])

df

   0  1  2  3    4    5
0  1  2  3  4    5  foo
1  5  1  2  3    5  boo
2  1  2  3  4  bar  bar

In [8]:
df = pd.DataFrame([[1,2,3,4,5,"foo"],
                   [5,1,2],
                   [1,2],
                   ])

df

   0  1    2    3    4     5
0  1  2  3.0  4.0  5.0   foo
1  5  1  2.0  NaN  NaN  None
2  1  2  NaN  NaN  NaN  None

In [10]:
df.columns = ["col1", "col2", "col3", "col4", "col5", "col6"]
df

   col1  col2  col3  col4  col5  col6
0     1     2   3.0   4.0   5.0   foo
1     5     1   2.0   NaN   NaN  None
2     1     2   NaN   NaN   NaN  None

df.columns = ["col1", "col2", "col3", "col4"] <- o num de col tem correspodenr ao num ao num real de col

In [11]:
df.columns = ["col1", "col2", "col3", "col4"]
df

ValueError: Length mismatch: Expected axis has 6 elements, new values have 4 elements

In [12]:
df.index = ["linha1", "linha2", "linha3"]
df

        col1  col2  col3  col4  col5  col6
linha1     1     2   3.0   4.0   5.0   foo
linha2     5     1   2.0   NaN   NaN  None
linha3     1     2   NaN   NaN   NaN  None

In [13]:
df.index = ["linha1", "linha2"]
df

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

In [14]:
df.columns = ["col1", "col2", "col3", "col4", 7, 5]
df

        col1  col2  col3  col4    7     5
linha1     1     2   3.0   4.0  5.0   foo
linha2     5     1   2.0   NaN  NaN  None
linha3     1     2   NaN   NaN  NaN  None

In [15]:
df.index = ["linha1", "linha2", 5]
df

        col1  col2  col3  col4    7     5
linha1     1     2   3.0   4.0  5.0   foo
linha2     5     1   2.0   NaN  NaN  None
5          1     2   NaN   NaN  NaN  None

In [20]:
df = pd.DataFrame([[1,2,3, None],
                   [5,1,2, None],
                   ],
                  index = ["linha1", "linha2"],
                  columns = ["col1", "col2", "col3", "col4"],
                  )
df

        col1  col2  col3  col4
linha1     1     2     3  None
linha2     5     1     2  None

In [24]:
df = pd.DataFrame([[1,2,3, None],
                   [5,1,2, None],
                   [5,1,2, None],
                   [5,1,2, None]
                   ],
                  index = pd.MultiIndex.from_tuples([
                      ("cl1", "jun"),
                      ("cl2", "jun"),
                      ("cl2", "jul"),
                      ("cl2", "ago"),
                  ]),
                  columns = ["col1", "col2", "col3", "col4"]
                  )
df

         col1  col2  col3  col4
cl1 jun     1     2     3  None
cl2 jun     5     1     2  None
    jul     5     1     2  None
    ago     5     1     2  None

In [25]:
df.index

MultiIndex([('cl1', 'jun'),
            ('cl2', 'jun'),
            ('cl2', 'jul'),
            ('cl2', 'ago')],
           )