In [62]:
import pandas as pd

In [63]:
pd.__version__

'2.0.3'

In [64]:
dict = {"Nome":["Joao", "Maria", "Paula"], "nota":[20,10,14]}
df = pd.DataFrame(dict)

df

    Nome  nota
0   Joao    20
1  Maria    10
2  Paula    14

In [65]:
nova_nota = ["Pedro", 17]

df.loc[len(df)] = nova_nota


df

    Nome  nota
0   Joao    20
1  Maria    10
2  Paula    14
3  Pedro    17

In [66]:
dict = {"Nome":["Joao", "Maria", "Paula"], "nota":[20,10,14]}
df = pd.DataFrame(dict, index=["al1", "al2", "al3"])

df

      Nome  nota
al1   Joao    20
al2  Maria    10
al3  Paula    14

In [67]:
nova_nota = {"Nome":["Marco", "Luis"], "nota":[20,20]}

tempDF = pd.DataFrame(nova_nota, index=['al1', 'al2'])

tempDF

      Nome  nota
al1  Marco    20
al2   Luis    20

In [68]:
novoDF = pd.concat([df, tempDF])

novoDF

      Nome  nota
al1   Joao    20
al2  Maria    10
al3  Paula    14
al1  Marco    20
al2   Luis    20

In [69]:
dict = {"Nome":["Joao", "Maria", "Paula"], "nota":[20,10,14]}
df = pd.DataFrame(dict, index=["al1", "al2", "al3"])

nova_nota = {"Nome":["Marco", "Luis"], "nota":[20,20]}
tempDF = pd.DataFrame(nova_nota, index=['al1', 'al2'])

In [70]:
novoDF = pd.concat([df, tempDF], ignore_index=True)
novoDF

    Nome  nota
0   Joao    20
1  Maria    10
2  Paula    14
3  Marco    20
4   Luis    20

In [71]:
dict = {"Nome":["Joao", "Maria", "Paula"], "nota":[16,10,14]}
df = pd.DataFrame(dict, index=["al1", "al2", "al3"])

nova_nota = {"Nome":["Marco", "Luis"], "nota":[18,8]}
tempDF = pd.DataFrame(nova_nota, index=['al1', 'al2'])

novoDF = pd.concat([df, tempDF])

In [72]:
novoDF2 = novoDF.reset_index()
novoDF2

  index   Nome  nota
0   al1   Joao    16
1   al2  Maria    10
2   al3  Paula    14
3   al1  Marco    18
4   al2   Luis     8

In [73]:
novoDF.reset_index(inplace=True)
novoDF

  index   Nome  nota
0   al1   Joao    16
1   al2  Maria    10
2   al3  Paula    14
3   al1  Marco    18
4   al2   Luis     8

In [74]:
df = pd.DataFrame({"Nome":["Joao", "Carlos"], "nota":[10,13]})
df

     Nome  nota
0    Joao    10
1  Carlos    13

In [75]:
df = pd.DataFrame({"Nome":["Joao", "Carlos"], "nota":[10,13]})

out  = pd.melt(df)

out

  variable   value
0     Nome    Joao
1     Nome  Carlos
2     nota      10
3     nota      13

In [76]:
novoDF

  index   Nome  nota
0   al1   Joao    16
1   al2  Maria    10
2   al3  Paula    14
3   al1  Marco    18
4   al2   Luis     8

In [77]:
novoDF2 = pd.DataFrame({"Estado": [True, True,True, True, False]})

out = pd.concat([novoDF, novoDF2], axis=1)

out

  index   Nome  nota  Estado
0   al1   Joao    16    True
1   al2  Maria    10    True
2   al3  Paula    14    True
3   al1  Marco    18    True
4   al2   Luis     8    True

In [78]:
out.query("nota >= 15")

  index   Nome  nota  Estado
0   al1   Joao    16    True
3   al1  Marco    18    True

In [79]:
out

  index   Nome  nota  Estado
0   al1   Joao    16    True
1   al2  Maria    10    True
2   al3  Paula    14    True
3   al1  Marco    18    True
4   al2   Luis     8    True

In [83]:
out_sort = out.sort_values('nota', ascending=False)

out_sort

  index   Nome  nota  Estado
3   al1  Marco    18    True
0   al1   Joao    16    True
2   al3  Paula    14    True
1   al2  Maria    10    True
4   al2   Luis     8    True